
.mdl-card__media {
	margin: 0;
}
.mdl-card__media > img {
	max-width: 100%;
}
.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}


.mdl-card__media img{
  width: 100%;
  height: auto;
  overflow: auto;
  margin: auto;
 -webkit-filter: grayscale(20%); 
}