<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <div class="mdl-layout__header"  style="background-color: lightgrey">
    <div class="mdl-layout__header-row" style="background-color: lightgrey">
      <!-- Title -->
    </div>
    <!-- Tabs -->
 
  </div>

  <div class="mdl-layout__content">
      <div class="page-content">
          
          
          <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col"></div>

  <div class="mdl-cell mdl-cell--8-col"> 
      <pre>Hi,
      My name is Mariia Taranova and I am a BCIT Digital Design and Development student. 
    
     My <u>coding</u> skills are in:</pre>
      <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>JQuery</li>
          <li>Angular</li>
          <li>PHP</li>
      </ul><br>
      <pre> My <u>multimedia creation</u> skills are in:</pre>
      <ul>
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>InDesign</li>
          <li>Premier</li>
          <li>AfterEffects</li>
      </ul>
    <pre>
      I would love to hear from you:  <address>
 <a href="mailto:mariia.taranova@gmail.com">mariia.taranova@gmail.com </a></address>

    </pre>
</div>
                <div class="mdl-cell mdl-cell--2-col"></div>

</div>
          
         
</div>

 
  </div>
</div>