<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Design</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
 
    </div>
  </div>
</div>
<div class="mdl-grid">
          <!--Filters-->

  <div class="mdl-cell mdl-cell--2-col">
      
    <span class="mdl-layout-title">Filters:</span>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="type.wordpress" >
          <span class="mdl-checkbox__label">Wordpress</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="type.htmlcssjs">
          <span class="mdl-checkbox__label">HTML/CSS/JS</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="type.angular">
          <span class="mdl-checkbox__label">AngularJS</span>
        </label>
         <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="type.php">
          <span class="mdl-checkbox__label">PHP</span>
        </label>
	 </div>
    
	      <!--New-->
          <!--Participation-->

  <div class="mdl-cell mdl-cell--2-col">
      
    <span class="mdl-layout-title">Participation:</span>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="participation.team"  >
          <span class="mdl-checkbox__label">Team</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="participation.individual">
          <span class="mdl-checkbox__label">Individual</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="participation.contract">
          <span class="mdl-checkbox__label">Contractor</span>
        </label>
    
	 </div>
    
	      <!--Participation End-->


               <!--Complexity-->

  <div class="mdl-cell mdl-cell--2-col">
      
    <span class="mdl-layout-title">Participation:</span>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="seriousness.serious"  >
          <span class="mdl-checkbox__label">Complex</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="seriousness.notsoserious">
          <span class="mdl-checkbox__label">Not very complex</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="seriousness.stupid">
          <span class="mdl-checkbox__label">Fun</span>
        </label>
    
	 </div>
    
	      <!--Complexity End-->

	
         <!--Date and project size-->

  <div class="mdl-cell mdl-cell--2-col" >
      
    <p class="mdl-layout-title">Sort by:</p>
	
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="date">
  <input type="radio" id="date" class="mdl-radio__button" name="options" value="date" ng-model="orderProp">
  <span class="mdl-radio__label">Date</span>
</label>
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="size">
  <input type="radio" id="size" class="mdl-radio__button" name="options" value="size" ng-model="orderProp">
  <span class="mdl-radio__label">Project size</span>
</label>
   
</div>

    
	 </div>
    
	      <!--Date and project size End-->





<div ng-repeat="work in works | filterBy: {'key':'type', 'values':type} | filterBy: {'key':'participation', 'values':participation} | filterBy: {'key':'seriousness', 'values':seriousness} | orderBy:orderProp:true">

    
        <!--Content is here-->
<div class="demo-card-square mdl-card mdl-shadow--2dp" style="display: inline-block; float: left; height: 240px; margin: 0 15px 15px 15px;">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">{{work.title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{work.description}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#/{{work.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {{work.category}}
    </a>
  </div>
</div>
    
    <!--Content is here-->
    
</div>